snippet it "it test expand" b
it("${1:Description}", () => {
	$0
})
endsnippet

snippet log "console.log" b
console.log(${1:message})
endsnippet

snippet count "console.count" b
console.count('${1:count}')
endsnippet

snippet rf "create basic React component" b
import React from 'react';

export function ${1:UIComponent}(): JSX.Element {
	return ${2:<></>}
}
endsnippet
